.filter {
  width: 230px;
}

.filter h2 {
  font-size: var(--font-size_title);
  font-weight: normal;
  text-align: left;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-box {
  height: 20px;
  display: flex;
  width: 100%;
}

.filter-track {
  height: 3px;
  width: 100%;
}

.thumb:focus {
  outline-color: pink;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
