.App {
  text-align: center;
  color: black;

  --color_main: #cacaca;
  --color_light: #e2e2e2;
  --color_dark: #707070;
  --padding-small: 12px;

}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-controls {
  display: flex;
  vertical-align: center;
}

.box {
  border: 1px solid var(--color_main);
  box-sizing: border-box;

  padding: var(--padding-small);
}
